# Google App Engine generated folder
appengine-generated/
/TickGraph/.vs/TickGraph/v15/.suo
/TickGraph/.vs/TickGraph/v15/Server/sqlite3/storage.ide
/TickGraph/.vs/TickGraph/v15/.suo
/TickGraph/.vs/TickGraph/v15/Server/sqlite3/storage.ide-shm
